/* 公共样式区域 */
html {
  font-size: 26.6667vw;
}
body {
  font-size: .14rem;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
#header {
  display: flex;
  background-color: #006699;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
#header .left {
  width: .45rem;
  height: .45rem;
}
#header .left a {
  display: block;
  color: #fff;
  text-align: center;
  line-height: .45rem;
}
#header .content {
  flex: 1;
  text-align: center;
}
#header .content h4 {
  color: #fff;
  line-height: .45rem;
}
#header .content form {
  padding-top: .05rem;
}
#header .content form input {
  background-color: #fff;
  font-size: .14rem;
  text-align: left;
  margin-bottom: 0;
  height: .35rem;
}
#header .right {
  color: #fff;
  width: .45rem;
  height: .45rem;
  text-align: center;
  line-height: .45rem;
}
#header .right a {
  color: #fff;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #006699;
}
#footer a {
  color: #fff;
  height: .45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer a span {
  line-height: 1;
}
#footer a.active {
  color: orange;
}
#main {
  padding: .45rem 0;
  height: 100vh;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
#main .swiper-container {
  height: 100%;
}
#main .swiper-container .swiper-slide {
  height: auto;
}
#main {
  background-color: #fff;
}
#main .search-form {
  padding: .1rem;
}
#main .search-form form {
  display: flex;
}
#main .search-form form input {
  flex: 1;
  height: .36rem;
  background-color: #fff;
  border: 1px solid #006699;
  text-align: left;
  font-size: .14rem;
  border-radius: .06rem 0 0 .06rem;
}
#main .search-form form .btn-search {
  border: 1px solid #006699;
  width: .6rem;
  height: .36rem;
  background-color: #006699;
  border-radius: 0 .06rem .06rem 0;
}
#main .search-history {
  padding: .1rem;
}
#main .search-history .title {
  padding: .1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 2px #666;
  border-radius: .06rem .06rem 0 0 ;
  font-size: .14rem;
}
#main .search-history .title a {
  color: #333;
}
#main .search-history .content {
  border-radius: 0 0 .06rem .06rem;
  box-shadow: 0px 0px 2px #666;
}
#main .search-history .content .mui-table-view-cell:after {
  left: 0;
}
