/* 公共样式区域 */
html {
  font-size: 26.6667vw;
}
body {
  font-size: .14rem;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
#header {
  display: flex;
  background-color: #006699;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
#header .left {
  width: .45rem;
  height: .45rem;
}
#header .left a {
  display: block;
  color: #fff;
  text-align: center;
  line-height: .45rem;
}
#header .content {
  flex: 1;
  text-align: center;
}
#header .content h4 {
  color: #fff;
  line-height: .45rem;
}
#header .content form {
  padding-top: .05rem;
}
#header .content form input {
  background-color: #fff;
  font-size: .14rem;
  text-align: left;
  margin-bottom: 0;
  height: .35rem;
}
#header .right {
  color: #fff;
  width: .45rem;
  height: .45rem;
  text-align: center;
  line-height: .45rem;
}
#header .right a {
  color: #fff;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #006699;
}
#footer a {
  color: #fff;
  height: .45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer a span {
  line-height: 1;
}
#footer a.active {
  color: orange;
}
#main {
  padding: .45rem 0;
  height: 100vh;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
#main .swiper-container {
  height: 100%;
}
#main .swiper-container .swiper-slide {
  height: auto;
}
#main {
  padding-bottom: .8rem;
}
#main li a {
  display: flex;
}
#main li a .product-left {
  width: 25%;
  position: relative;
  text-align: center;
}
#main li a .product-left img {
  width: .8rem;
  height: .8rem;
  display: block;
}
#main li a .product-left .mui-checkbox input {
  position: static;
}
#main li a .product-left .mui-checkbox input::before {
  font-size: .2rem;
  color: hotpink;
}
#main li a .product-right {
  width: 75%;
}
#main li a .product-right .product-name {
  white-space: normal;
  color: #666666;
}
#main li a .product-right .product-price {
  padding: .08rem 0;
}
#main li a .product-right .product-price span {
  color: red;
  font-weight: 600;
}
#main li a .product-right .product-price del {
  color: #999;
}
#main li a .product-right .product-params {
  display: flex;
  justify-content: space-between;
}
#order {
  background-color: #eee;
  position: fixed;
  width: 100%;
  bottom: .45rem;
  left: 0;
  z-index: 3;
  height: 0.35rem;
  line-height: .35rem;
  display: flex;
  padding-left: .2rem;
  justify-content: space-between;
}
#order .order-total {
  color: red;
  font-weight: 600;
}
